- breadcrumb :job_seeker, @job_seeker

.row
  .col-md-12
    .panel.panel-default
      .panel-heading
        = "Edit #{@job_seeker.full_name}"

        .panel-heading-action
          = link_to admin_job_seekers_path, class: 'btn btn-info' do
            %i.fa.fa-chevron-left
            Back

      .panel-wrapper.collapse.in
        = simple_form_for [:admin, @job_seeker], url: admin_job_seeker_path(@job_seeker), html: { class: 'form-vertical', 'data-parsley-validate': ''  }, remote: true do |f|
          .panel-body
            .row
              .col-md-8
                %fieldset
                  %legend Profile Details

                  .row
                    .col-md-6
                      = f.input :first_name
                    .col-md-6
                      = f.input :last_name

                  = f.simple_fields_for :job_seeker_profile do |j|
                    .row
                      .col-md-8
                        = j.input :date_of_birth, as: :string, input_html: { 'data-provide': 'datepicker-date-of-birth', 'data-parsley-trigger': 'input' }

                      .col-md-4
                        = j.input :gender, collection: JobSeekerProfile.genders.keys.map { |g| [g.humanize, g] }, include_blank: true

                    = j.input :address_1, hint: 'Street address, P.O. box, company name, c/o'
                    = j.input :address_2, hint: 'Apartment, suite, unit, building, floor, etc.'

                    .row
                      .col-md-6
                        = j.input :city

                      .col-md-6
                        = j.input :county, collection: florida_counties

                    .row
                      .col-md-8
                        = j.input :state, collection: us_states

                      .col-md-4
                        = j.input :zipcode, input_html: { maxlength: 5 }

                    = j.input :phone_number, input_html: { 'data-inputmask': "'mask': '(999) 999-9999'"}
                    = j.input :career_objectives, wrapper: :wysiwyg, input_html: { 'data-wysiwyg': 'simple' }
                    = j.input :interests_and_hobbies, hint: 'Type and press enter to add your interest/hobby', input_html: { 'data-provide': 'selectize' }

                    .row
                      .col-md-6
                        = j.input :education, collection: ['Did not complete High School', 'High School/GED', 'Some College', "Associate's Degree", "Bachelor's Degree", 'Masters Degree', 'Doctoral Degree']

                    .checkbox
                      = j.input_field :currently_enrolled_in_school, boolean_style: :inline

                      %label
                        Currently Enrolled in School

                    .checkbox
                      = j.input_field :currently_employed, boolean_style: :inline

                      %label
                        Currently Employed
                    %br

                    = j.input :volunteer_experience, wrapper: :wysiwyg, input_html: { 'data-wysiwyg': 'simple' }

                    - if @job_seeker.profile.resume?
                      %p
                        = link_to @job_seeker.profile.resume_url, class: 'btn btn-info', target: '_blank' do
                          %i.fa.fa-file-pdf-o
                          Download Resume
                      %br

                    .form-group
                      = j.label :resume, 'Upload resume'
                      = j.input_field :resume, class: 'file-input'

                      .input-group
                        .form-control
                          %i.fa.fa-file-word-o.file-input-icon.file-input-file-exists
                          %span.file-input-filename
                        %span.input-group-btn
                          %button.file-input-browse.btn.btn-default{ type: 'button' } Browse

                      %p.help-block
                        Allowed file types:
                        %strong .doc, .docx, .pdf

                %fieldset
                  %legend Account Details

                  = f.input :email

                  .row
                    .col-md-6
                      = f.input :password, hint: raw('<i class="fa fa-warning"></i> Leave these blank if you do not wish to change the password'), required: false

                    .col-md-6
                      = f.input :password_confirmation, required: false

          .panel-footer
            = f.submit class: 'btn btn-info'
