- breadcrumb :jobseekers

.row
  .col-md-12
    .panel.panel-default
      .panel-heading
        All Job Seekers

        .panel-heading-action
          = link_to new_admin_jobseeker_path, class: 'btn btn-info' do
            %i.fa.fa-plus
            Add a Job Seeker

      .panel-wrapper.collapse.in
        .panel-body
          %table#jobseekers.table.table-bordered.table-striped
            %thead
              %tr
                %th Name
                %th Address
                %th Phone Number
                %th.dt-center Resume
                %th Registered On
                %th.dt-center

            %tbody
              - if @jobseekers.present?
                - @jobseekers.each do |jobseeker|
                  %tr
                    %td
                      =# display_online_status(jobseeker)
                      %span.fa.fa-circle.online(data-toggle="tooltip" data-placement="top" title="Test tooltip")
                      = jobseeker.full_name

                    %td
                      %address
                        = jobseeker.profile.address_1
                        %br

                        - if jobseeker.profile.address_2.present?
                          = jobseeker.profile.address_2
                          %br

                        = "#{jobseeker.profile.city}, #{jobseeker.profile.state} #{jobseeker.profile.zipcode}"
                    %td= jobseeker.profile.phone_number

                    %td.dt-center
                      - if jobseeker.profile.resume?
                        = link_to jobseeker.profile.resume_url, target: '_blank' do
                          %i.mdi.mdi-cloud-download
                      - else
                        %span.text-muted N/A

                    %td= jobseeker.created_at.strftime('%m/%d/%Y %l:%M%P')
                    %td.dt-center
                      .btn-group
                        %button.btn.btn-default.dropdown-toggle(type="button" data-toggle="dropdown")
                          Manage
                          %span.caret
                          %span.sr-only Toggle dropdown

                        %ul.dropdown-menu.dropdown-menu-right
                          %li
                            = link_to '#' do
                              %i.mdi.mdi-account-edit.fa-fw
                              Edit Jobseeker

                          %li
                            = link_to masquerade_path(jobseeker), data: { turbolinks: false } do
                              %i.mdi.mdi-account-switch.fa-fw
                              Become Jobseeker

                          %li.divider

                          %li
                            = link_to '#', class: 'text-danger' do
                              %i.mdi.mdi-account-remove.fa-fw
                              Delete Jobseeker

              - else
                %tr
                  %td{ colspan: '6' }
                    %p.text-center There are no Job Seekers at this time

:javascript
  $('[data-toggle="tooltip"]').tooltip()
