.container
  .row
    .col-md-8
      %h1 Employer FAQs

      %dl
        %dt How much does it cost?
        %dd
          %p
            The job fair is completely
            %strong free
            for both employers and job seekers.

        %dt How does the Virtual Job Fair work?
        %dd
          %p
            The virtual job fair is an
            %strong online
            job fair. It has been set up as a job matching tool for job seekers and employers looking to fill positions. In this type of job fair format, there is no face-to-face interaction between employers and job seekers. The process is easy. No event staffing is needed. Once you have registered your company, you will be able to add your job openings immediately. Simply follow the prompts. Only during the scheduled date and time frame will job seekers be able to submit resumes for your job openings. You can review resumes and job listing activity at your leisure through the Employer Portal.

        %dt How much do I have to pay for the position?
        %dd
          %p It is recommended that you pay at least minimum wage for any hire you make. In some cases, during the a youth virtual job fair students are offered and accept unpaid internship. Per Employ Florida Marketplace Terms of Use we are unable to list any commission only positions.

        %dt What type of position do I have to list?
        %dd
          %p The type of position you list is up to you. We welcome temporary, permanent, full-time or part-time employment listings. During a youth virtual job fair we also accept summer internship opportunities.

        %dt What if I don't want to hire anyone under 18?
        %dd
          %p This information is only applicable during a youth virtual job fair. When you register to participate in the job fair, you will have an option to receive only resumes from a specific age group: any age, 16 and over, 18 and over and 21 and over. When students register, they will be asked for their date of birth. The system will automatically filter out the job listings viewed by students depending on their age. That way, you will only receive resumes from the age group you identified.

        %dt What if I don't want to receive resumes directly?
        %dd
          %p
            To assist you in your recruiting needs, CareerSource Pinellas and CareerSource Tampa Bay Business Services Recruiters are available to receive and pre-screen the resumes at no cost to you. Please email
            = mail_to 'vjf@careersourcepinellas.com'
            if you would a Recruiter to assist you.

        %dt What will the job fair look like when it is live?
        %dd
          %p
            When the job fair is live and job seekers have logged in, they will be directed to a screen where they will see a grid of employer logos. They will be able to select the employer that interests them from here by clicking on the employer logo. The next page that opens will include a brief description of that employer, along with the job(s) they have open. From there job seekers can select a job that interests them for more details. When they are in the job detail screen, they will be able to view the complete job description provided by the employer and a button that says
            %strong send message/resume.
            The rest is up to the employer.

        %dt Who can I contact for more information?
        %dd
          %p
            For more details, please email
            = mail_to 'vjf@careersourcepinellas.com', 'vjf@careersourcepinellas.com.'



      %p
        The virtual job fair is an
        %strong online
        job fair. It has been set up as a job matching tool for job seekers and employers looking to fill positions. In this type of job fair format, there is no face-to-face interaction with employers. Once you have registered, you can access your profile at any time to make changes, add a resume, etc. When you are logged in, you will be directed to the Job Seeker Portal screen where you will be able to view your recent activity and enter the Job Fair lobby to see hiring employers and open positions. Only when the job fair is
        %em live
        (during the specified date frame) will you be able to see hiring employers and apply for open job opportunities. You will be able to select the employer that interests you from here by clicking on their logo or by searching by Industry or Zip Code for employers nearest you.

      %p
        The next page that opens will include a brief description of that employer, along with the job(s) they have open. From here you can select a job that interests you for more details. When you are in the job detail screen, you will be able to view the complete job description provided by the employer and a button that says
        %strong send message/resume.
        If you’re interested in the position, you simply send a message to the employer and select the box to attach your resume if one is on file in your profile. The rest is up to the employer. You may receive notification from the employer to set up an interview or may receive no notice at all. During a youth virtual job fair only those positions available for your age group will be viewable.

      %dl
        %dt How much does it cost?
        %dd
          %p
            The job fair is completely
            %strong free.

        %dt What if I don't have a resume or work experience?
        %dd
          %p
            If you are a youth that doesn’t have job experience, it’s still important to put down your career objectives, skills, interests and hobbies and any community service experience you may have. An example can be found by clicking
            = link_to 'http://www.groovejob.com/jobseeker/resume/demo/'
            to visit
            = link_to 'GrooveJob.com.'
            You will need to register to use their system to create an actual resume, or you can use their demo as a guide to create your own.

        %dt Who can I contact for more information?
        %dd
          %p
            For more information, please contact
            = mail_to 'vjf@careersourcepinellas.com.'

    .col-md-4
      %aside
        %p
          Are you looking for employees to grow your business? If so, get connected to Tampa Bay’s Virtual Job Fair. Job postings may be temporary, permanent, full-time or part-time, even summer internships. The job fair is free and the process is easy. No event staffing is needed
          for the online virtual job fair. Only during the
          %strong live
          week-long event will job seekers be able to submit resumes for your job postings. You may review resumes at your leisure.

        %h3 Log in to your account *

        = render 'users/global_login_form'

        %hr/

        %p
          Don't have an account?
          = link_to 'Register as an Employer', sign_up_path(account_type: 'employer')

      %p.efm-warning.text-muted * Participants in the Virtual Job Fair will need to create an account. This registration is separate from the Employ Florida Marketplace website
