.container
  .row
    .col-md-8
      %h1 Tools &amp; Resources

      %dl
        %dt Adventures in Education
        %dd
          %p
            This website offers tips for job hunting, writing your resume, and interviewing.
            = link_to 'Click here', 'http://www.aie.org/find-a-job/', target: '_blank'
            for more information.

        %dt Job Hunting 101 Series
        %dd
          %p
            These videos focus on topics; such as, appropriate interview attire, improving your interview skills, résumé writing and cover letters, work readiness, and information about your local center.
            = link_to 'Click here', 'https://careersourcepinellas.com/pages/videos', target: '_blank'
            for more information.

        %dt Interviewing Skills
        %dd
          %ul
            %li= link_to '20 Ways to Ruin an Interview', 'https://www.careersourcepinellas.com/files/public/jobseeker_resources/20%20Ways%20to%20Ruin%20an%20Interview.pdf', target: '_blank'
            %li= link_to 'Body Language', 'https://www.careersourcepinellas.com/files/public/jobseeker_resources/Body%20Language.pdf', target: '_blank'
            %li= link_to 'Hired: Take an Active Role in the Job Interview Process', 'https://www.careersourcepinellas.com/files/public/jobseeker_resources/Hired_Take%20an%20active%20role.pdf', target: '_blank'
            %li= link_to 'How to Answer the Toughest Questions', 'https://www.careersourcepinellas.com/files/public/jobseeker_resources/How%20to%20Answer%20the%20Toughest%20Questions.pdf', target: '_blank'

        %dt Resume and Cover Letter Writing
        %dd
          %ul
            %li= link_to 'Resume Writing Tips', 'https://www.thebalance.com/resumes-interviews-4073346', target: '_blank'
            %li= link_to 'Seven Tips for Preparing an Effective Job Application', 'https://www.careersourcepinellas.com/files/public/jobseeker_resources/Seven%20Tips%20for%20Preparting%20Effective%20Job%20Applications.pdf', target: '_blank'
            %li.text-muted
              = link_to 'Reference Page', 'https://www.careersourcepinellas.com/files/public/jobseeker_resources/Sample%20Reference%20Page.pdf', target: '_blank'
              &ndash; Sample
            %li.text-muted
              = link_to 'T-Style Cover Letter', 'https://www.careersourcepinellas.com/files/public/jobseeker_resources/T-Style%20Cover%20Letter.pdf', target: '_blank'
              &ndash; Sample
            %li= link_to 'Top Five Tips for Writing Killer Cover Letters', 'https://www.careersourcepinellas.com/files/public/jobseeker_resources/Top%20Five%20Tips%20for%20Writing%20Killer%20Cover%20Letters.pdf', target: '_blank'
            %li= link_to 'Writing a Successful Thank You Note', 'http://www.careersourcepinellas.com/files/public/jobseeker_resources/WRITING%20A%20SUCCESSFUL%20THANK%20YOU%20NOTE.pdf', target: '_blank'

        %dt Online Job Search Engines
        %dd
          %p
            = link_to 'Tips for Using a Job Search Engine', 'https://www.thebalance.com/best-job-search-engine-sites-2061906', target: '_blank'
            &ndash; Tips and advice on how to best utilize a job search engine to find job listings that match your skills and interests.

          %p State of Florida Job Search Links
          %ul
            %li
              = link_to 'Employ Florida Marketplace', 'https://www.employflorida.com/vosnet/Default.aspx', target: '_blank'
              &ndash; Florida's official online portal to virtual job-matching services and many other workforce resources.
            %li
              = link_to 'Employ Florida Marketplace - Vets', 'https://veteran.employflorida.com/', target: '_blank'
              &ndash; Florida's online source for veterans' employment and employer recruitment information.
            %li
              = link_to 'Employ Florida Marketplace - Silver Edition', 'https://www.employflorida.com/portals/silver/Default.asp', target: '_blank'
              &ndash; Florida's online career resource for the 50+ demographic.
            %li
              = link_to 'Employ Florida Marketplace - Green Jobs', 'https://www.employflorida.com/portals/greenjobs/Default.asp', target: '_blank'
              &ndash; Florida's online career resource for individuals seeking information on green jobs, green training and green jobs survey results.

          %p National Job Search Links
          %ul
            %li= link_to 'CareerOneStop.org', 'https://www.careeronestop.org/jobseekertools/', target: '_blank'
            %li= link_to 'MySkillsmyFuture.org (U.S. Department of Labor)', 'https://www.myskillsmyfuture.org/', target: '_blank'
            %li= link_to 'USAjobs.gov', 'https://usajobs.gov', target: '_blank'

          %p Commercial Job Search Links &ndash; positions inside and outside of Florida (these links advertise products and/or services that are not associated with CareerSource Pinellas)
          %ul
            %li= link_to 'Careers.org', 'https://careers.org', target: '_blank'
            %li= link_to 'CareerBuilder.com', 'https://www.myskillsmyfuture.org/', target: '_blank'
            %li= link_to 'Careermag.com', 'https://www.careermag.com', target: '_blank'
            %li= link_to 'CareerJet.com', 'https://www.careerjet.com', target: '_blank'
            %li= link_to 'Careernet.com', 'https://www.careernet.com', target: '_blank'
            %li= link_to 'Craigslist.org', 'https://tampa.craigslist.org', target: '_blank'
            %li= link_to 'Dice.com', 'https://dice.com', target: '_blank'
            %li= link_to 'EmploymentGuide.com', 'https://tampa.employmentguide.com', target: '_blank'
            %li= link_to 'GreenJobSpider.com', 'https://greenjobspider.com', target: '_blank'
            %li= link_to 'Indeed.com', 'https://indeed.com', target: '_blank'
            %li= link_to 'LinkUp.com', 'https://linkup.com', target: '_blank'
            %li= link_to 'Monster.com', 'https://monster.com', target: '_blank'
            %li= link_to 'RecruitersOnline.com', 'https://recruitersonline.com', target: '_blank'
            %li= link_to 'SimplyHired.com', 'https://simplyhired.com', target: '_blank'
            %li= link_to 'Suncoast Jobs', 'https://suncoastjobs.com', target: '_blank'
            %li= link_to 'TampaBay.com (Tampa Bay Times)', 'https://job.tampabay.com', target: '_blank'
            %li= link_to 'TBO.com (Tampa Tribune)', 'https://www2.tob.com/jobs/tbo-jobs', target: '_blank'
            %li= link_to 'Indeed.com', 'https://indeed.com', target: '_blank'
            %li= link_to 'TheLadders.com', 'https://theladders.com', target: '_blank'
            %li= link_to 'Yahoo! Careers', 'https://us.careers.yahoo.com', target: '_blank'
            %li= link_to 'Groove Job', 'https://groovejob.com', target: '_blank'
            %li= link_to 'Snag-A-Job', 'https://snagajob.com', target: '_blank'

          %p Persons with Disabilities Job Search Links
          %ul
            %li= link_to 'Disabled Person', 'https://www.google.com/url?q=https%3A%2F%2Fwww.disabledperson.com%2F&sa=D&sntz=1&usg=AFQjCNGctTe7bT0j4vgr47gtYyMZDXhXfA', target: '_blank'
            %li= link_to 'Getting Hired', 'http://www.google.com/url?q=http%3A%2F%2Fwww.gettinghired.com%2F&sa=D&sntz=1&usg=AFQjCNHsrKWRs-vz1Gw6jj_xlt9h0Q-MNw', target: '_blank'
            %li= link_to 'Hire Disability Solutions', 'http://www.google.com/url?q=http%3A%2F%2Fwww.hireds.com%2F&sa=D&sntz=1&usg=AFQjCNEU-mXEwi0C5GgiEQLd3uT79trFPQ', target: '_blank'
            %li= link_to 'One More Way', 'http://www.google.com/url?q=http%3A%2F%2Fwww.onemoreway.org%2F&sa=D&sntz=1&usg=AFQjCNFv2iJCuzpRbq2Ys4yJgnMObG_Brg', target: '_blank'
            %li= link_to 'Employer Assistance and Resource Network', 'http://www.google.com/url?q=http%3A%2F%2Faskearn.org%2F&sa=D&sntz=1&usg=AFQjCNETJ3OidOPSaYD7VL2ZEKjVZepMDQ', target: '_blank'
            %li= link_to 'Ability Jobs', 'http://www.google.com/url?q=http%3A%2F%2Fwww.jobaccess.org%2F&sa=D&sntz=1&usg=AFQjCNG8_y5gedCsv9bY3h9I6cPLj90Vzw', target: '_blank'
            %li= link_to 'Think Beyond the Label', 'http://www.google.com/url?q=http%3A%2F%2Fthinkbeyondthelabel.com%2F&sa=D&sntz=1&usg=AFQjCNEEHamXO2NCpGFg7wC4SUEkzdlbZg', target: '_blank'

          %p Social Media Links
          %ul
            %li= link_to 'Facebook.com', 'https://facebook.com', target: '_blank'
            %li= link_to 'LinkedIn.com', 'http://linkedin.com', target: '_blank'
            %li= link_to 'Twitter.com', 'http://twitter.com', target: '_blank'

          %p
            = link_to 'How to Use Social Media in Your Job Search', 'http://www.google.com/url?q=http%3A%2F%2Fjobsearch.about.com%2Fod%2Fnetworking%2Fa%2Fsocialmedia.htm&sa=D&sntz=1&usg=AFQjCNHoqpyUJirHXnbpg5Ruv8XCjbH6ow', target: '_blank'
            &ndash; Tips and advice on how to best utilize social media in your job search.
          %p
            = link_to '7 Secrets to Getting Your Next Job Using Social Media', 'http://www.google.com/url?q=http%3A%2F%2Fmashable.com%2F2009%2F01%2F05%2Fjob-search-secrets%2F&sa=D&sntz=1&usg=AFQjCNGzeq8Qq7oDK0YPUrMPQRDz1ibbgw', target: '_blank'
            &ndash; Tips and advice on how to best utilize social media in your job search.

        %dt Career Planning &amp; Occupational Information
        %dd
          %ul
            %li= link_to 'Career Info Net', 'http://www.google.com/url?q=http%3A%2F%2Fwww.acinet.org%2Facinet%2F&sa=D&sntz=1&usg=AFQjCNFsmjSJnsmAAzIwY4qd60fPhFkouQ', target: '_blank'
            %li= link_to 'Career Overview', 'http://www.google.com/url?q=http%3A%2F%2Fwww.careeroverview.com%2F&sa=D&sntz=1&usg=AFQjCNGTIq1aQOgD6XvGAYRnumHWT3Hxvw', target: '_blank'
            %li= link_to 'CareerOneStop', 'http://www.google.com/url?q=http%3A%2F%2Fwww.acinet.org%2Facinet%2F&sa=D&sntz=1&usg=AFQjCNFsmjSJnsmAAzIwY4qd60fPhFkouQ', target: '_blank'
            %li= link_to 'Careers.org', 'http://www.google.com/url?q=http%3A%2F%2Fwww.careers.org%2F&sa=D&sntz=1&usg=AFQjCNHidswRSwmfDt0-w1csDbcFxCJ6gQ', target: '_blank'
            %li= link_to 'FloridaNext.com', 'http://www.google.com/url?q=http%3A%2F%2Fwww.floridanext.com%2F%23start&sa=D&sntz=1&usg=AFQjCNHUorHQ24ftnuyi_FpbZOZ7LDAAmA', target: '_blank'
            %li= link_to 'Division of Vocational Rehabilitation (Florida Department of Education) - School to Work Transition', 'http://www.google.com/url?q=http%3A%2F%2Frehabworks.org%2Fstw.shtml&sa=D&sntz=1&usg=AFQjCNFOI6rHQgJcgoprYsuL6xtcGyrF5Q', target: '_blank'
            %li= link_to 'Mapping Your Future', 'http://www.google.com/url?q=http%3A%2F%2Fmappingyourfuture.org%2F&sa=D&sntz=1&usg=AFQjCNH2aldDk-GRwxPuWKzKPqp4fgimyQ', target: '_blank'
            %li= link_to 'My Educational and Career Plan - PDF', 'http://www.google.com/url?q=http%3A%2F%2Fwww.asvabprogram.com%2Fdownloads%2FASVAB_Edu_and_Career_Plans.pdf&sa=D&sntz=1&usg=AFQjCNFMNvBiQAtueOta9hyb8oBKK4WttQ', target: '_blank'
            %li= link_to 'National Centers for Career and Technical Education', 'http://www.google.com/url?q=http%3A%2F%2Fwww.nccte.org%2F&sa=D&sntz=1&usg=AFQjCNEhuhZ751MfUHp_dUAMt-6hH-BB4w', target: '_blank'
            %li= link_to 'Occupational Projections (BLS)', 'http://www.google.com/url?q=http%3A%2F%2Fwww.bls.gov%2Fnews.release%2Fecopro.toc.htm&sa=D&sntz=1&usg=AFQjCNEnjQ_-5sZaLJt1iBM2mFw9CmBZ4Q', target: '_blank'
            %li= link_to 'Occupational Outlook Handbook', 'http://www.google.com/url?q=http%3A%2F%2Fwww.bls.gov%2Fooh%2F&sa=D&sntz=1&usg=AFQjCNFkxaLTI1nNwZREmJ3d-f6R6a-GRw', target: '_blank'
            %li= link_to 'O*NET Code Connector for Titles of Jobs in Occupational Fields', 'http://www.google.com/url?q=http%3A%2F%2Fwww.onetcodeconnector.org%2F&sa=D&sntz=1&usg=AFQjCNHcd4p2CxZ3yllNyT81CB96urpYcQ', target: '_blank'
            %li= link_to 'The Princeton Review (career quiz, college planning, testing, admissions information, scholarships and financial aid)', 'http://www.google.com/url?q=http%3A%2F%2Fwww.princetonreview.com%2Fhome.asp&sa=D&sntz=1&usg=AFQjCNHNnF_NqsxT-fw61wu8VGoZluDnqA', target: '_blank'
            %li= link_to 'Vocational Information Center', 'http://www.google.com/url?q=http%3A%2F%2Fwww.khake.com%2F&sa=D&sntz=1&usg=AFQjCNHBXoYqs5QEi3vbAi18ure0RWuhDw', target: '_blank'
            %li= link_to 'Youthhood.org', 'http://www.google.com/url?q=http%3A%2F%2Fwww.youthhood.org%2F&sa=D&sntz=1&usg=AFQjCNHUyx3bHVOogCpYftX_IbX3rm9Ohg', target: '_blank'
            %li= link_to 'YouthRules!', 'http://www.google.com/url?q=http%3A%2F%2Fyouthrules.dol.gov%2F&sa=D&sntz=1&usg=AFQjCNFYNvzUje410svQ0g_UTC5RKRmaTA', target: '_blank'

        %dt Interests, Ability, and Academic Assessments
        %dd
          %ul
            %li= link_to 'CareerColleges.com ~ Free Career Assessment Test', 'http://www.google.com/url?q=http%3A%2F%2Fwww.careercolleges.com%2Fcareer-assessment-test.jsp&sa=D&sntz=1&usg=AFQjCNGbhkO87giTLL4MRk1uOymXThHiqw', target: '_blank'
            %li= link_to 'Career Interest Checklist', 'http://www.google.com/url?q=http%3A%2F%2Fwww.in.gov%2Flearnmoreindiana%2F&sa=D&sntz=1&usg=AFQjCNHIX8JMGw_cLLbjj9xFJNJ0hmzAYw', target: '_blank'
            %li= link_to 'Career Questionnaire', 'http://www.google.com/url?q=http%3A%2F%2Ftcids.tbr.edu%2Fquestionnaire.php&sa=D&sntz=1&usg=AFQjCNHBOnjUr6fyTy5Fem6Wiaq9fMxueg', target: '_blank'
            %li= link_to 'Monster College Graduates', 'http://www.google.com/url?q=http%3A%2F%2Fcontent.monstertrak.monster.com%2Fresources%2Farchive%2Fjobhunt%2Fsoftskills%2F&sa=D&sntz=1&usg=AFQjCNFUqVMgK-8ecqi2CogiujATDxp8Sg', target: '_blank'
            %li= link_to 'My Future.com', 'http://www.google.com/url?q=http%3A%2F%2Fwww.myfuture.com%2F&sa=D&sntz=1&usg=AFQjCNGIdL2WO1zbQqwttNzGbAqrEa8AHw', target: '_blank'
            %li= link_to 'O*NET Ability, Interest, and Work Importance Profilers', 'http://www.google.com/url?q=http%3A%2F%2Fwww.onetcenter.org%2Ftools.html&sa=D&sntz=1&usg=AFQjCNFit_lcgt8CmXfluAAvKHULCtHOcA', target: '_blank'
            %li= link_to 'Quintessential Careers', 'http://www.google.com/url?q=http%3A%2F%2Fwww.quintcareers.com%2Fcareer_assessment.html&sa=D&sntz=1&usg=AFQjCNHEiiVl0A9MPFoLZDvZ8ks4hgcDOQ', target: '_blank'

        %dt Veteran Resources
        %dd
          %ul
            %li= link_to 'Continuing Education Resources for Veterans', 'http://www.google.com/url?q=http%3A%2F%2Fwww.accreditedonlinecolleges.org%2Fresources%2Fveteran-continuing-ed%2F&sa=D&sntz=1&usg=AFQjCNHk2x88i1kCbWoMpXkkNzvdh79ipg', target: '_blank'
            %li= link_to 'Promising Practices…Quality Employment for Disabled Veterans Video', 'http://www.google.com/url?q=http%3A%2F%2Fdisability.workforce3one.org%2Fview%2F4200927374360810672%2Finfo&sa=D&sntz=1&usg=AFQjCNGNedHXh2dFC2YAoSnIgH2WLeXOEQ', target: '_blank'
            %li
              = link_to 'Employ Florida Marketplace Veterans Portal', 'https://www.google.com/url?q=https%3A%2F%2Fwww.employflorida.com%2Fportals%2Fveteran%2F&sa=D&sntz=1&usg=AFQjCNEXrYKYP94pyZfCo4ETPm-2AtWI1w', target: '_blank'
              &ndash; This web portal is a gateway to information and resource links that will assist veterans, veterans' families and employers in accomplishing their employment goals.
            %li
              = link_to 'Florida Department of Education', 'http://www.google.com/url?q=http%3A%2F%2Fwww.fldoe.org%2Fworkforce%2Fveteran-diploma.asp&sa=D&sntz=1&usg=AFQjCNF44hWzxNWIpRXt5L_ttOXi3nZ0Kw', target: '_blank'
              &ndash; The Florida Legislature has enacted laws in which eligible World War II, Korean Conflict, and Vietnam War Veterans who, as a result of being inducted into any branch of the United States Armed Forces, were unable to complete their high school education can be awarded a State of Florida High School Diploma.
            %li
              = link_to 'Florida Department of Economic Opportunity (Work Opportunity Tax Credit Program)', 'http://www.google.com/url?q=http%3A%2F%2Fwww.floridajobs.org%2Fbusiness-growth-and-partnerships%2Ffor-employers%2Ffind-tax-credit-and-incentive-programs%2Fwork-opportunity-tax-credit-program&sa=D&sntz=1&usg=AFQjCNHMsV2t0E8m_rfeeaJ6RwbQPfQTKA', target: '_blank'
              &ndash; The Work Opportunity Tax Credit (WOTC) is a federal income tax credit that provides incentives to private for-profit employers to encourage the hiring of individuals from certain targeted groups of jobseekers who traditionally have difficulty finding employment. Employers can reduce their federal income tax liability up to $2,400 or $4,800 during the first year of employment of a member of a targeted group or up to $9,000 over two years, depending on the qualified employee. There is no limit to the number of qualified employees for which an employer may receive this tax credit.
            %li
              = link_to 'My Next Move', 'http://www.google.com/url?q=http%3A%2F%2Fwww.mynextmove.org%2Fvets%2F&sa=D&sntz=1&usg=AFQjCNFI9rfT4tb2dvPwltG4K2_ybs89vQ', target: '_blank'
              &ndash; Veterans will find a simple and quick search engine where they enter their prior military experience (branch of service and military occupation code or title) and link to the information they need to explore information on civilian careers and related training, including information they can use to write resumes that highlight related civilian skills.
            %li Transition Assistance Program (TAP) ~ The Transition Assistance Program(TAP) at MacDill Air Force Base prepares separating military personnel on resume preparation, interviewing techniques and salary negotiation tips. It also offers targeted career fairs, labor information as well as support for spouses. Services are offered on location at MacDill AFB.
            %li
              = link_to 'TurboTAP', 'http://www.google.com/url?q=http%3A%2F%2Fwww.turbotap.org%2Fregister.tpp&sa=D&sntz=1&usg=AFQjCNFKQ0jhbN_7J6Lias4fQJVdgcfQzw', target: '_blank'
              &ndash; Official transition program website if you are veteran transitioning from service.
            %li
              = link_to 'U.S. Department of Labor', 'http://www.google.com/url?q=http%3A%2F%2Fwww.dol.gov%2Fvets%2Fgoldcard.html&sa=D&sntz=1&usg=AFQjCNGmragli9VAt0nLHo9Hqj2uOHyCog', target: '_blank'
              &ndash; New employment initiatives for Veterans.
            %li
              Gold Card Program - Provides unemployed post-9/11 era veterans with the intensive and follow-up services they need to succeed in today’s job market. The Gold Card initiative is a joint effort of the Department of Labor’s Employment and Training Administration (ETA) and the Veterans’ Employment and Training Service (VETS). Print a Gold Card
              = link_to 'here', 'http://www.google.com/url?q=http%3A%2F%2Fwww.careersourcepinellas.com%2Ffiles%2Fpublic%2Fjobseeker_resources%2FGold%2520Card.pdf&sa=D&sntz=1&usg=AFQjCNFBFajSA1HHrev0v964wXcKXuCwqQ', target: '_blank'
            %li
              = link_to 'U.S. Department of Veteran Affairs', 'http://www.google.com/url?q=http%3A%2F%2Fwww.va.gov%2F&sa=D&sntz=1&usg=AFQjCNGKpKu17MO7D1TksKWMYA2zW0aHSw', target: '_blank'
              &ndash; GI Bill information &amp; Benefits information
            %li
              = link_to 'Veterans Employment Center', 'https://www.google.com/url?q=https%3A%2F%2Fwww.ebenefits.va.gov%2Febenefits%2Fjobs&sa=D&sntz=1&usg=AFQjCNGhW7Lj49y2buCs0C3fKi2EyEikQA', target: '_blank'
              &ndash; This website is the single federal source for Veterans looking for new career opportunities in the private and public sectors, as well as Service Members transitioning to the civilian workforce, military and Veteran spouses and dependents looking for employment opportunities, GI Bill beneficiaries transitioning from training to the job market and employers looking to connect with high quality applicants. 
            %li
              Veterans Career Transitioning Network &ndash; The Veterans Career Transitioning Network is a specialty service of CareerSource Pinellas supporting veterans in transition. This forum is designed to assist veterans in accelerating their career transition process.
              = link_to 'click here', 'https://www.google.com/url?q=https%3A%2F%2Fwww.careersourcepinellas.com%2Fpages%2Fveterans_network&sa=D&sntz=1&usg=AFQjCNHB3RgBMV_xY5QIX_uM1wdzBmKd7Q', target: '_blank'
              for more information.
            %li
              = link_to 'Veterans Guide to Paying for College', 'http://www.google.com/url?q=http%3A%2F%2Fwww.affordablecollegesonline.org%2Fspotlight%2Fveterans-education-resources%2F&sa=D&sntz=1&usg=AFQjCNEEugXtviNBqpDxBT-w3lvK6DD1bg', target: '_blank'
              &ndash; Information, resources and expert advice on higher education funding and scholarship for veterans.
            %li
              = link_to 'Veterans Retraining Assistance Program', 'http://www.google.com/url?q=http%3A%2F%2Fbenefits.va.gov%2Fvow%2F&sa=D&sntz=1&usg=AFQjCNF7QHECjvJkZfIefDfWMMjDqWU7fQ', target: '_blank'
              &ndash; The Veterans Opportunity to Work (VOW) to Hire Heroes Act of 2011, provides seamless transition for Service members, expands education and training opportunities for Veterans, and provides tax credits for employers who hire Veterans with service-connected disabilities.
            %li= link_to 'VOW: New Benefits for Unemployed Veterans', 'http://www.google.com/url?q=http%3A%2F%2Fwww.careersourcepinellas.com%2Ffiles%2Fpublic%2Fjobseeker_resources%2FVOW%2520New%2520Benefits%2520for%2520Unemployed%2520Vets.pdf&sa=D&sntz=1&usg=AFQjCNF9Ui6UKRzBPFUqJNFlheR-tw6fOw', target: '_blank'
            %li= link_to 'VOW Special Employer Incentives (SEI) Flyer', 'http://www.google.com/url?q=http%3A%2F%2Fwww.careersourcepinellas.com%2Ffiles%2Fpublic%2Fjobseeker_resources%2FVOW%2520Special%2520Employer%2520Incentives.pdf&sa=D&sntz=1&usg=AFQjCNHqoIx3QjwhHpfMvqPuob8swcvQZw', target: '_blank'
            %li= link_to 'Work Opportunity Tax Credits (WOTC)', 'http://www.google.com/url?q=http%3A%2F%2Fwww.careersourcepinellas.com%2Ffiles%2Fpublic%2Fjobseeker_resources%2FWOTC%2520-%2520VETS.pdf&sa=D&sntz=1&usg=AFQjCNF0UOZUMeHRb7grwyBG-s_6FlRN6Q', target: '_blank'
            %li= link_to 'Veterans Retraining Assistance Program (VRAP) FAQs', 'http://www.google.com/url?q=http%3A%2F%2Fwww.careersourcepinellas.com%2Ffiles%2Fpublic%2Fjobseeker_resources%2FVRAP.pdf&sa=D&sntz=1&usg=AFQjCNGl_ZIOKqO752OVGMTegI7Xg1qlnw', target: '_blank'

    .col-md-4
      = render 'job_seeker_sidebar'
