%nav.navbar.navbar-default
  .container
    .navbar-header
      %button.navbar-toggle(type='button' data-toggle='collapse' data-target='#collapse')
        %span.sr-only Toggle Navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar

      .logo.hidden-xs.hidden-sm
        = link_to 'https://careersourcetampabay.com', class: 'navbar-brand' do
          = image_tag 'cs-tampa-bay-logo.png', class: 'img-responsive', alt: 'Career Source Tampa Bay logo'

        = link_to 'https://careersourcepinellas.com', class: 'navbar-brand' do
          = image_tag 'cs-pinellas-logo.png', class: 'img-responsive', alt: 'Career Source Pinellas logo'

      .mobile-logo.visible-xs-block.visible-sm-block
        = link_to root_path, class: 'navbar-brand' do
          = image_tag 'cs-mobile-logo.png', class: 'img-responsive', alt: 'Career Source Florida Mobile Logo'

    .collapse.navbar-collapse#collapse
      %ul.nav.navbar-nav.navbar-right
        %li.active= link_to 'Home', root_path
        %li= link_to 'Job Seekers', page_path('job-seekers')
        %li= link_to 'Employers', page_path('employers')
        %li= link_to 'Tools & Resources', page_path('tools-and-resources')

        - if current_user
          %li.dropdown
            %a.dropdown-toggle(href="#" data-toggle="dropdown")
              = current_user.email
              %span.caret

            %ul.dropdown-menu
              %li= link_to 'My Account', '#'
              %li.divider
              %li= link_to 'Log out', logout_path, method: :delete

        - else
          %li= link_to 'Log in', login_path
