%nav.navbar.navbar-default
  .container
    .navbar-header
      %button.navbar-toggle(type='button' data-toggle='collapse' data-target='#collapse')
        %span.sr-only Toggle Navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar

      = link_to 'https://careersourcetampabay.com', class: 'navbar-brand' do
        = image_tag 'cs-tampa-bay-logo.png', class: 'img-responsive', alt: 'Career Source Tampa Bay logo'

      = link_to 'https://careersourcepinellas.com', class: 'navbar-brand' do
        = image_tag 'cs-pinellas-logo.png', class: 'img-responsive', alt: 'Career Source Pinellas logo'

    .collapse.navbar-collapse#collapse
      %ul.nav.navbar-nav.navbar-right
        %li.active= link_to 'Home', root_path
        %li= link_to 'Job Seekers', page_path('job-seekers')
        %li= link_to 'Employers', page_path('employers')
        %li= link_to 'Tools & Resources', '#'
        %li= link_to 'Login', '#'
