<div class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav slimscrollsidebar">
        <div class="sidebar-head">
            <h3><span class="fa-fw open-close"><i class="ti-close ti-menu"></i></span> <span class="hide-menu">Navigation</span></h3>
        </div>

        <ul class="nav" id="side-menu">
            <li>
                <%= link_to admin_root_path do %>
                    <i class="mdi mdi-av-timer fa-fw"></i>
                    <span class="hide-menu">Dashboard</span>
                <% end %>
            </li>

            <li>
                <%= link_to admin_events_path do %>
                    <i class="icon-calender fa-fw"></i>
                    <span class="hide-menu">Event Schedule</span>
                <% end %>
            </li>

            <li>
                <%= link_to admin_job_seekers_path do %>
                    <i class="mdi mdi-account-circle fa-fw"></i>
                    <span class="hide-menu">Job Seekers</span>
                <% end %>
            </li>

            <li>
                <%= link_to admin_employers_path do %>
                    <i class="mdi mdi-map-marker fa-fw" data-icon="v"></i>
                    <span class="hide-menu">Employers</span>
                <% end %>
            </li>

            <li class="devider"></li>

            <li>
                <%= link_to admin_users_path do %>
                    <i class="mdi mdi-account-settings-variant fa-fw"></i>
                    <span class="hide-menu">Administrators</span>
                <% end %>
            </li>
        </ul>
    </div>
</div>
