= f.simple_fields_for :jobseeker_profile do |j|
  %fieldset
    %legend
      %h4 Profile Details

    .row
      .col-md-6
        = j.input :first_name
      .col-md-6
        = j.input :last_name

    .row
      .col-md-8
        = j.input :date_of_birth, as: :string, input_html: { 'data-provide': 'datepicker-date-of-birth', 'data-parsley-trigger': 'input' }

      .col-md-4
        = j.input :gender, collection: JobseekerProfile.genders.keys.map { |g| [g.humanize, g] }, include_blank: true, selected: ''

    = render 'users/geocomplete_address_fields'

    .address-fields
      = j.input :address_1, hint: 'Street address, P.O. box, company name, c/o'
      = j.input :address_2, hint: 'Apartment, suite, unit, building, floor, etc.'

      .row
        .col-md-6
          = j.input :city

        .col-md-6
          = j.input :county, collection: florida_counties

      .row
        .col-md-8
          = j.input :state, collection: us_states

        .col-md-4
          = j.input :zipcode, input_html: { maxlength: 5 }

    = j.input :phone_number, input_html: { 'data-inputmask': "'mask': '(999) 999-9999'"}
    = j.input :career_objectives, wrapper: :wysiwyg, input_html: { 'data-wysiwyg': 'simple' }
    = j.input :interests_and_hobbies, hint: 'Type and press enter to add your interest/hobby', input_html: { 'data-provide': 'selectize' }

    .row
      .col-md-6
        = j.input :education, collection: ['Did not complete High School', 'High School/GED', 'Some College', "Associate's Degree", "Bachelor's Degree", 'Masters Degree', 'Doctoral Degree']

    = j.input :currently_enrolled_in_school
    = j.input :currently_employed
    = j.input :volunteer_experience, wrapper: :wysiwyg, input_html: { 'data-wysiwyg': 'simple' }

    .form-group
      = j.label :resume, 'Upload your resume'
      = j.input_field :resume, class: 'file-input'

      .input-group
        .form-control
          %i.fa.fa-file-word-o.file-input-icon.file-input-file-exists
          %span.file-input-filename
        %span.input-group-btn
          %button.file-input-browse.btn.btn-default{ type: 'button' } Browse

      %p.help-block
        Allowed file types:
        %strong .doc, .docx, .pdf
