- content_for :javascripts do
  = javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=#{ENV['GOOGLE_MAPS_API_KEY']}&libraries=places", async: true, defer: true

.container
  .row
    .col-md-8.col-md-offset-2
      = account_type_registration_warning

    .col-sm-8.col-sm-offset-2.col-md-6.col-md-offset-3
      %h2= account_type_title

      %p.text-muted
        To participate in the Virtual Job Fair will need to create an account. This registration is separate from the Employ Florida Marketplace website.

      = simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: 'form-vertical', 'data-parsley-validate': '' }) do |f|
        = f.hidden_field :account_type, value: params[:account_type]

        %fieldset
          %legend
            %h4 Profile Details

          = render "#{params[:account_type]}_profile", f: f

        %fieldset
          %legend
            %h4 Account Details

          = f.input :email

          .row
            .col-md-6
              = f.input :password

            .col-md-6
              = f.input :password_confirmation


        = f.submit class: 'btn btn-primary'
